#keys
OPENAI_API_KEY='' 

#DISCORD_BOT_KEY='' #chatforme
#DISCORD_BOT_KEY='OQ42SrKZ1SqRnexxHwHr_M4DBsapWYku' #chatforme
DISCORD_BOT_KEY='' #games_countdown

#gamesincountdown
DISCORD_BOT_PLAY_GAMES_IN_APP_ID= ''
DISCORD_BOT_PLAY_GAMES_IN_PUBLIC_KEY=''
DISCORD_BOT_PLAY_GAMES_IN_SECRET_KEY=''
DISCORD_BOT_PLAY_GAMES_IN_BOT_TOKEN=''

#Permissions integer: 68608 (read/view channel, send messages)

#TWITCH BOT 
TWITCH_BOT_CLIENT_ID = ''
TWITCH_BOT_CLIENT_SECRET = ''
TWITCH_BOT_REDIRECT_BASE = ''
TWITCH_BOT_REDIRECT_AUTH = '' #not in use
TWITCH_BOT_USERNAME = '' #'eh-chatforme'
TWITCH_BOT_CHANNEL_NAME = ''

#ELEVEN LABS
ELEVENLABS_XI_API_KEY = ''
ELEVENLABS_XI_VOICE_PERSONAL = ''
ELEVENLABS_XI_VOICE_BUSINESS = ''