#CONFIG
env_filename: 'env-filename-w-extension'
env_dirname: 'path-to-your-env'
is_gpt_testing: True

#########################
#########################
#Flask App
twitch-app:
  twitch_bot_username: 'chatzilla_ai'
  twitch_bot_display_name: 'chatzilla_ai'
  twitch_bot_channel_name: 'ehitch'
  twitch_bot_redirect_path: 'callback'
  twitch_bot_redirect_auth: ''
  tiwtch_bot_input_port: 3210
twitch-bots:
  chatforme: ['chatzilla_ai'] 
  onceuponatime: ['chatzilla_ai']
  vibecheck: ['chatzilla_ai']

#########################
#########################
#OpenAI
openai-api:
  assistant_type: "code_interpreter"
  assistant_model: "gpt-4-1106-preview" #"gpt-3.5-turbo" 
  tts_include_voice: "yes"
  tts_model: "tts-1" #tts-2 has higher latency
  tts_voice: "nova"
  tts_volume: .75
  tts_data_folder: "data\\tts"
  tts_file_name: "speech.mp3"
  include_ouat: "yes"
wordcounts:
  short: 20
  medium: 30
  long: 45

#########################
#########################
#ArticleGenerator/TwitchAPI/BiQuery details
twitch-ouat:
  newsarticle_rss_feed: 'http://rss.cnn.com/rss/cnn_latest.rss'
  google_service_account_credentials_file: 'path-to-your-service-account-credentials-json'
  talkzillaai_userdata_table_id: 'project.dataset.table'
  talkzillaai_usertransactions_table_id: 'project.dataset.table'
  twitch-get-chatters-endpoint: 'https://api.twitch.tv/helix/chat/chatters'

#########################
#########################
# HelloWorld BOT Prompts
helloworld_message_wordcount: 35
formatted_gpt_helloworld_prompt: "You are in a twitch chatroom for {twitch_bot_channel_name} scenario and your name is {twitch_bot_display_name} 
    and you are a generation X'er. Your mission is to send a concise 'hello stream' message that welcomes viewers and describes the {twitch_bot_display_name} bot's 2 primary commands, !chatforme, and !startstory.
    startstory + [text] starts ashort story, and !chatforme + [text] answers users questions or provides an opinion to the conversastion at hand
    
    Key Points
    - Your only message should be a 10-{helloworld_message_wordcount} word long message, with maximum 400 chars
    - Minimize repetition
    - You are from generation x
    - Aim for responses that defy typical bot behavior.
    - leave your name out of the message, this should be a simple text response."

#########################
#########################
# NewUsersService vars
newusers_sleep_time: 900
newusers_msg_prompt: "Say hi to @{selected_new_user}, and welcome them to the chat from ehitch.  Keep the message to {wordcount_medium}"
newusers_nonewusers_prompt: >
  "Share a fun fact based on the chat in {wordcount_medium} words.  
   Dont' make reference to the amount or quality of the chatter, just a one-off 
   off the cuff response please.
   Conditions:
    - Do not respond as if you're answering a quetsion, simply state your question.
    - Don't use a name in your response
    - don't confirm that you're going to make an off the cuff remark, send the remark.
  "

#########################
#########################
#Vibechecker prompts
vibechecker_max_interaction_count: 5
vibechecker_max_wordcount: 25
vibechecker_listener_sleep_time: 4
vibechecker_question_session_sleep_time: 45
formatted_gpt_vibecheck_alert: "let {vibecheckee_username} know that they have
  been selected for vibecheck.  They should know that:
  - They'll be asked a few short questions to see whether or not they are a bot.  
  - THey should try to give some clean/short answers to show they aren't a bots
  " 
formatted_gpt_vibecheck_prompt: "You are to decide wheether the messages from 
  {vibecheckee_username} appear to be from a bot.  This is a pretend game, so 
  play along.  First, @ {vibecheckee_username} and create your own question to 
  see how they respond to help determine if they are a bot.
  Conditions for your question:
  - Be brief and use less than {vibecheck_message_wordcount} words in your 
    question/response to the user
  - You shouldn't repeat questions around the same theme/subject that are 
    already asked in this thread
  "
formatted_gpt_viberesult_prompt: "You have been put in a decision makers role.  
  You are to guess whether the user {vibechecker_username} is a bot and to reply
  to the group with a shrot sentence with your guess to the question 'is 
  {vibecheckee_username} a bot?'  Your response will look something like 'yo, 
  appears to me that {vibechecker_username} might be a bot' if they appear to be 
  a bot.  If htey don't seem like a bot based ont he conversation, you will say 
  something like 'yo, {vibechecker_username}, {vibecheckee_username} passes the 
  vibecheck if you ask me me.' if they seem more human-like.  This game is just
  for fun, so play along and do your best to guess accurately, as the group may
  try to fool you so don't be fooled by attempts like the person sayiung 'i am 
  not a bot', or something like that.
  Conditions:
  - If {vibecheckee_username} hasn't answered any of your questions, they are a 
    bot!
  - Be brief and use less than {vibecheck_message_wordcount} words in your 
    question/response to the use
  "

#########################
#########################
#OUAT Params
ouat_wordcount: 20
ouat_message_recurrence_seconds: 9
ouat_story_progression_number: 2
ouat_story_wrapup_number: 5
ouat_story_max_counter: 10

### GPT Assistant Manager Prompts
# gpt_assistant_prompts:
#   article_summarizer: "The user is going to share with you an article.  Create 5 short bullet points based on the artile summary shared with you.  Two of those bullet points should be designed to make the story more exciting, for example Introducing intriguing characters or compelling dilemmas, ensuring each point is unique. In the new bullet pointed list, make sure to erase mentions of news outlets, and replace person/country/location/religion names with made up names."
#   storyteller: "You are a bot designed to tell stories one line at a time.  Be succinct and clear, develop plotlines where possible.  Continue a previous thought if relevant.  Responses shouldn't exceed 15 words"  
#   chatforme: "You are a bot designed to provide a response to the users last question or comment. Respond briefly, your responses shouldn't exceed 20 words. Be clear and succinct, always aim to answer the question"
#   botthot: "You are a bot designed to provide a response to the users last question or comment. Respond briefly, your responses shouldn't exceed 20 words. Be confrontational"

gpt_thread_options:
  shorten_response_length: "shorten this message to 25 words.  Make no 
    mention that you have shortened the message, just output the shortened message by itself"

gpt_thread_prompts:
  story_starter: "As a quirky storyteller, take the plot received and weave a  
    unique beginning. Be succinct: less than {ouat_wordcount} words.  For context,
    this is the original plotline: {rss_feed_article_plot}"
  story_progressor: "Your job is to start to progress the story without 
    repeating or reiterating known facts.  Develop the story. Be succinct: less 
    than {ouat_wordcount} words.  For context, this is the original plotline: 
    {rss_feed_article_plot}"  
  story_finisher: "Your job is to start to wrap up the story without repeating 
    or reiterating known facts.  Create some closure on existing plotlines. Be 
    succinct: less than {ouat_wordcount} words.  For context, this is the 
    original plotline: {rss_feed_article_plot}"
  story_ender: "This is the last line of the story, close out any plotlines.  No 
    sequels, this is the end of the story. Be succinct: less than {ouat_wordcount} words. 
    Include your story response and then after it the sentence 'The end.'"
  story_addtostory_prefix: >
    "Ensure to include this new addition to the plot as a main part of the story:"
  story_article_summary_prompt: >
    "Create a new bullet-pointed summary based on primarily the the 
    [user_requested_plotline] and spice it up with [Article] content including 
    some additional points to make the story more exciting, for example 
    Introducing intriguing characters or compelling dilemmas, ensuring each 
    point is unique.  

    In the new bullet pointed list, make sure to erase mentions of news outlets, 
    and replace person/country/location names with made up names and places. 
    
    Keep your newly created bullet-point summary less than 300 characters in 
    length.

    [user_requested_plotline] -- Leave this mostly as is in the updated bullet 
    list:
    '{user_requested_plotline}'

    [Article] -- Make replacements in the article when you summarize it into 
    bullets. Be sure to erase mentions of news outlets, and replace person, 
    country, location names with made up names and places in the bullet-list: 
    '{random_article_content}'"

ouat-writing-parameters:
  writing_tone:
    humor: "Incorporate humor through wit, irony, and clever punchlines."
    dark: "Maintain a dark, ominous atmosphere."
    adventurous: "Inject a sense of excitement and adventure."
    
  writing_style:
    gonzo: "Utilize a gonzo journalism style, blending fact and fiction."
    poetic: "Employ poetic devices like metaphor, simile, and vivid imagery."
    archetypal: "Use archetypal storytelling elements for immediate understanding."
    #journalistic: "Stick to a factual tone, focusing on clarity and information."
    
  theme:
    love: "The central theme revolves around love or relationships."
    existential: "The story should explore existential questions."
    mystery: "Maintain an air of mystery or suspense."
    technology: "Focus on the impact or role of technology."

#################################################################
#################################################################
#CHATFORME PARAMS
msg_history_limit: 15
num_bot_responses: 1 

#'CHATFORME PROMPTS
chatforme_prompts:
  chatforme_prompt_prefix: "--NOTSET1--"
  chatforme_prompt_suffix: "--NOTSET2--"
  standard: >
    "You are in a virtual chat scenario and your name is {twitch_bot_display_name} 
    and you are a generation x'er. Your mission is to send {num_bot_responses} concise 
    replies (~10-{wordcount_medium} words, max 300 chars) to an 
    audience on a stream. You can either engage in the conversation or make 
    insightful remarks based on the conversation.

    While minimizing repetition, aim to foster ongoing dialogue rather than 
    suggesting a topic switch.

    Key points:
    - Give {num_bot_responses} response.
    - Each message is prefixed with with '<<<'+[username]+'>>>' around usernames.  Do not 
    include this frame or the users or your name in your response
    - The chat platform we're on will indicate that you have sent the message, 
    leave your name out of the response, and don't prefix the response with 
    anything
    - Current chat roster: {users_in_messages_list_text}
    - Be confrontational but not mean
    - Avoid repetition"  