#Openai
OPENAI_API_KEY='' 

#TWITCH BOT (chatforme/voice)
TWITCH_BOT_CLIENT_ID = ''
TWITCH_BOT_CLIENT_SECRET = ''

#TODO Move to yaml instead
#TWITCH_BOT_REDIRECT_BASE = 'http://localhost:3000/callback'
#TWITCH_BOT_REDIRECT_PATH = 'callback'
#TWITCH_BOT_USERNAME = '' 
#TWITCH_BOT_CHANNEL_NAME = ''

#ELEVEN LABS
ELEVENLABS_XI_API_KEY = ''
ELEVENLABS_XI_VOICE = ''
ELEVENLABS_XI_VOICE_PERSONAL = ''
ELEVENLABS_XI_VOICE_BUSINESS = ''
ELEVENLABS_XI_VOICE_PERSONAL_NEW = ''
# #ELEVEN LABS (NEW STRUCT)
# ELEVENLABS:
#     ELEVENLABS_XI_API_KEY = ''
#     ELEVENLABS_XI_VOICE_PERSONAL = ''
#     ELEVENLABS_XI_VOICE_BUSINESS = ''
#     ELEVENLABS_XI_VOICE_PERSONAL_NEW = ''


##############################
#TWITCH BOT (gif-for-me)
TWITCH_GIFFORME_BOT_CLIENT_ID=''
TWITCH_GIFFORME_BOT_CLIENT_SECRET=''
TWITCH_GIFFORME_BOT_SCOPE='chat:read+chat:edit'
TWITCH_GIFFORME_BOT_REDIRECT_PATH = 'callback'
TWITCH_GIFFORME_BOT_USERNAME = ''
TWITCH_GIFFORME_BOT_CHANNEL_NAME = ''

#chatforme???
#Permissions integer: 68608 (read/view channel, send messages)
DISCORD_BOT_KEY='' #games_countdown

#gamesincountdown
#Permissions integer: 68608 (read/view channel, send messages)
DISCORD_BOT_PLAY_GAMES_IN_APP_ID= ''
DISCORD_BOT_PLAY_GAMES_IN_PUBLIC_KEY=''
DISCORD_BOT_PLAY_GAMES_IN_SECRET_KEY=''
DISCORD_BOT_PLAY_GAMES_IN_BOT_TOKEN=''


#############################
#OBS Application (gif-for-me)
#
# usage: python gif-for-me.py --input_port_number 3001
#
OBS_GIFFORME_CLIENT_ID= ''
OBS_GIFFORME_CLIENT_SECRET=''
OBS_GIFFORME_API_ACCESS_TOKEN=''
OBS_GIFFORME_SOCKET_API_TOKEN=''
OBS_GIFFORME_REDIRECT_URI = 'http://localhost:3001/callback2'
OBS_GIFFORME_REDIRECT_URI_FROM_CALLBACK = 'http://localhost:3001/callback2b'
OBS_GIFFORME_SCOPE = 'profiles.write'


