#Openai
OPENAI_API_KEY='your-key-or-id-or-sectret' 

#TWITCH BOT (chatforme/voice)
TWITCH_BROADCASTER_AUTHOR_ID = 'your-key-or-id-or-sectret'
TWITCH_BOT_MODERATOR_ID = 'your-key-or-id-or-sectret'
TWITCH_BOT_CLIENT_ID = 'your-key-or-id-or-sectret'
TWITCH_BOT_CLIENT_SECRET = 'your-key-or-id-or-sectret'

TWITCH_BOT_SCOPE = 'chat:read+chat:edit+moderator:read:chatters'

#ELEVEN LABS
ELEVENLABS_XI_API_KEY = 'your-key-or-id-or-sectret'
ELEVENLABS_XI_VOICE = 'your-key-or-id-or-sectret'
ELEVENLABS_XI_VOICE_PERSONAL = 'your-key-or-id-or-sectret'
ELEVENLABS_XI_VOICE_BUSINESS = 'your-key-or-id-or-sectret'
ELEVENLABS_XI_VOICE_PERSONAL_NEW = 'your-key-or-id-or-sectret'
ELEVENLABS_XI_VOICE_PERSONAL_CHARLOTTE = 'your-key-or-id-or-sectret'
